<div class="sharediv">
Share this post
<ul class="share-buttons">
  <li><a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Felderec.org&t=random%20technical%20musings" title="Share on Facebook" target="_blank"><img src="https://elderec.org/images/flat_web_icon_set/color/Facebook.png"></a></li>
  <li><a href="https://twitter.com/intent/tweet?source=http%3A%2F%2Felderec.org&text=random%20technical%20musings:%20http%3A%2F%2Felderec.org&via=elderec" target="_blank" title="Tweet"><img src="https://elderec.org/images/flat_web_icon_set/color/Twitter.png"></a></li>
  <li><a href="https://plus.google.com/share?url=http%3A%2F%2Felderec.org" target="_blank" title="Share on Google+"><img src="https://elderec.org/images/flat_web_icon_set/color/Google+.png"></a></li>
  <li><a href="http://www.tumblr.com/share?v=3&u=http%3A%2F%2Felderec.org&t=random%20technical%20musings&s=" target="_blank" title="Post to Tumblr"><img src="https://elderec.org/images/flat_web_icon_set/color/Tumblr.png"></a></li>
  <li><a href="http://pinterest.com/pin/create/button/?url=http%3A%2F%2Felderec.org&description=" target="_blank" title="Pin it"><img src="https://elderec.org/images/flat_web_icon_set/color/Pinterest.png"></a></li>
  <li><a href="https://getpocket.com/save?url=http%3A%2F%2Felderec.org&title=random%20technical%20musings" target="_blank" title="Add to Pocket"><img src="https://elderec.org/images/flat_web_icon_set/color/Pocket.png"></a></li>
  <li><a href="http://www.reddit.com/submit?url=http%3A%2F%2Felderec.org&title=random%20technical%20musings" target="_blank" title="Submit to Reddit"><img src="https://elderec.org/images/flat_web_icon_set/color/Reddit.png"></a></li>
  <li><a href="http://www.linkedin.com/shareArticle?mini=true&url=http%3A%2F%2Felderec.org&title=random%20technical%20musings&summary=&source=http%3A%2F%2Felderec.org" target="_blank" title="Share on LinkedIn"><img src="https://elderec.org/images/flat_web_icon_set/color/LinkedIn.png"></a></li>
  <li><a href="mailto:?subject=random%20technical%20musings&body=:%20http%3A%2F%2Felderec.org" target="_blank" title="Email"><img src="https://elderec.org/images/flat_web_icon_set/color/Email.png"></a></li>
</ul>
</div>